*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

body{
    min-height: 100vh;
    background-image: radial-gradient(papayawhip,grey);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top:7rem;
    color:white;
}


h1{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.calc{
    margin:auto;
    width: 30%;
    padding: 0.5rem; 
    background-color: black;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.screen{
  width: 100%;
  background-color: white;
  background-image: radial-gradient(white, rgb(185, 172, 152));
  height: 5rem; 
  padding:1.8rem;
  text-align: right;
  color:black;
}

.button{
    background-color: #16426f;
    padding: 10%;
    min-height: 12vh;
    cursor: pointer;
    color: white;
    
}

.button:last-child{
    background-color: #002244;
    padding: 10%;
    grid-column: 4;
    grid-row: 4/6 ;
    color: white;
}


.button:nth-child(8){
    background-color: #16426f;
    padding: 10%;
    grid-column: 4;
    grid-row: 2/4 ;
    color: white;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0;
} 




@media screen and (max-width: 650px) {
  
    body{
        min-height: 100vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding:0;
        color: black;
        
    }
    
    h1{
        display: none;
        visibility: hidden;
        
    }

    .calc{
        width:100%;
        border: none;
        padding: 0rem;
        background-color: white;
        background-image: radial-gradient(white, rgb(185, 172, 152));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:0rem;

    
    }
    
    .screen{
      width: 100%;
      min-height: 20vh; 
      padding:2px; 
      background-color: white;
    }
    
     .button{
        min-height: 16vh;
        background-color: #16426f;
        padding: 0;
        cursor: pointer;
        border: none;
        color:white;
    } 
    
    .button:last-child{
        background-color:#002244 ;
        padding:0;
        border: none;
        grid-column: 4;
        grid-row:4/6;
        
    }

    .button:nth-child(8){
        background-color:#16426f ;
        padding:0;
        border: none;
        grid-column: 4;
        grid-row: 2/4 ;
        color: white;
    }
    

    .result:hover {
        border: 1px solid black;
        cursor: pointer;
    }
    
    .keypad {
        
        display:grid;
        gap:0;
        grid-template-columns: repeat(4,1fr);
        border: 1px solid black;
        
      
    }

    
} 


